/* 쓸 폰트 */
@font-face {
  font-family:'Cafe24Meongi-W-v1.0';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-W-v1.0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'Ownglyph_meetme-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 기본 스타일 초기화 */
* { margin: 0; padding: 0; box-sizing: border-box;}
img { display: block; }
a {color: inherit; text-decoration: none; display: block;}
button {border: none; cursor: pointer;}
body {background-color: #fffff0; text-align: center;}


/* 에디터 레이아웃 */
.editor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  margin-top: 120px;
}

/* 프레임 꾸밈 */
#character_wrap {
  background-image: url(img/프레임.png);
  background-size: 30%;
  padding: 36px 0px 40px;
  border: 4px solid #333;
  box-shadow: 5px 5px 1px #cccccc;
  border-radius: 30px;
  width: 800px;
  margin: 0;
}
/* 페어명 꾸밈 */
#character_wrap p {
  font-size: 1.8em;
  font-family: 'Cafe24Meongi-W-v1.0';
}

/* 캐릭터 나오는 부분 */
.character_wrapper {
  background-color: #ffffff;
  position: relative;
  width: 700px;
  height: 480px;
  border: 4px solid #666;
  border-radius: 6px;
  margin: 10px auto 20px;
}
.character_wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* 캐릭터 선택 버튼 */
.character_tabs {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.character_tabs > img {
  margin: 0 8px;
  cursor: pointer;
}

/* 꾸밈 선택창 */
.tab_container {
  width: 450px;
  background-color: #ffffff;
  border: 4px solid #333;
  border-radius: 4px;
  padding-bottom: 150px;
}
/* 세부 선택창_아래 선 넣으려고 만들었음 */
.tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.tab {
  font-family: 'Ownglyph_meetme-Rg';
  padding: 8px 50px;
  background: none;
  font-size: 1.6em;
}
.tab:hover {
  background: #f3f3f3;
}
.tab.active {
  border-bottom: 4px solid #d28bd1;
}

/* 이거 캐릭터한테 뭐 적용할지 */
.tab_content { display: none;
  padding-top: 12px;
}
.tab_content button:hover {
  background-color: #f4dfe4;
}
.tab_content.active { display: block; }

.tab_content button {
  font-family: 'Ownglyph_meetme-Rg';
  font-size: 1.2em; 
  margin: 5px;
  width: 80px;
  height: 45px;
  padding: 2px;
  border-radius: 16px;
}

/* 이미지 저장 버튼 */
.save_btn {
  margin-top: 30px;
}
.save_btn > button {
  background-color: #f4dfe4;
  padding: 10px 20px;
  font-family: 'Ownglyph_meetme-Rg';
  font-size: 1.6em;
  border-radius: 12px;
}
.save_btn > button:hover {
  background-color: #d994d7;
}

/* 이미지 z-index */
#base {z-index: 0;}
#hair_R_1 {z-index: 1;}
#outfit_R, #outfit_J {z-index: 2;}
#hair_R, #hair_J {z-index: 3;}
#hair_R_2 {z-index: 4;}



/* 모바일 */
@media screen and (max-width: 768px) {
  /*  전체 영역  */
  .editor {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  /*  프레임  */
  #character_wrap {
    padding : 16px 0 10px;
    width: 90vw;
    height: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /*  캐릭터 나오는 곳  */
  .character_wrapper {
    width: 85%;
    height : 90%
    margin-bottom: 10px;
  }

  /*  꾸밈 전환 탭  */
  .tab_container {
    width: 92%;
    margin-top: 10px;
  }

  .tabs > button {
    font-size: 1.4em;
  }

  .tab {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .tab:hover {
    border-radius: 20px 20px 0 0;
  }

  .tab_content {
    display: none;
    justify-content: center;
    margin-top: 5px;
  }

  .tab_content.active {
    display: block;
  }

  .tab_content button {
    width: 17%;
    padding: 6px;
    font-size: 1.2em;
  }

  /*  저장버튼  */
  .save_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
    max-width: 400px;
  }

  .save_btn button {
    flex: 1;
    padding: 12px;
    font-size: 1.4em;
  }
}
